[flake8]

# F401 'module' imported but unused
# E501 line too long (83 > 79 characters)

per-file-ignores =
    ./actinia_module_plugin/wsgi.py: F401
    ./actinia_module_plugin/resources/config.py: F401
    ./actinia_module_plugin/core/modules/actinia.py: E501
    ./actinia_module_plugin/model/modules.py: E501
    ./actinia_module_plugin/apidocs/modules.py: E501
    ./actinia_module_plugin/endpoints.py: E501
