[flake8]

# F401 'module' imported but unused
# E501 line too long (83 > 79 characters)

per-file-ignores =
    ./actinia_module_plugin/api/modules/grass.py: E501
    ./actinia_module_plugin/api/processing.py: E501
    ./actinia_module_plugin/core/modules/actinia_common.py: E501
    ./actinia_module_plugin/core/modules/grass.py: E501
    ./actinia_module_plugin/core/templates/user_templates.py: E501
    ./actinia_module_plugin/endpoints.py: E501
    ./actinia_module_plugin/resources/config.py: F401
    ./actinia_module_plugin/wsgi.py: F401

exclude =
    ./build
    ./.eggs
